.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  position: relative;
  font-size: x-large;
}

.button-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background-color: black;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

/* Cursor blinking animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}
